<!-- about_area_start -->

    <div class="container" th:fragment="about" xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_thumbs">
                    <div class="large_img_1">
                        <img src="img/about/about_lft.png" alt="">
                    </div>
                    <div class="small_img_1">
                        <img src="img/about/about_right.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <h3>About Us</h3>
                        <p>At our barbershop, we pride ourselves on offering exceptional grooming services that cater to your personal style. Our team of skilled barbers is dedicated to delivering a high-quality experience with precision and care. Whether you're here for a quick trim or a full grooming session, we ensure that every client leaves feeling confident and refreshed. We strive to create a welcoming and comfortable atmosphere where everyone can enjoy top-notch service.</p>
                    </div>
                    <p class="opening_hour">
                        Opening Hour
                        <span>10:00 am - 10:00 pm</span>
                    </p>
                    <a href="#about" class="boxed-btn3">About Us</a>
                </div>
            </div>
        </div>
    </div>

<!-- about_area_end -->